.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  color: white;
  color: #00000021;
  padding: 0.3rem;
}

@media only screen and (max-width: 600px) {
  .banner {
    gap: 5px;
    height: 25px;
    width: 100%;
    font-size: 0.5rem;
  }
}
