@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.crisp-client .cc-tlyw .cc-qfnu {
  background-color: #000000 !important;
}

.crisp-client .cc-tlyw .cc-kxkl .cc-1hqb .cc-gye0 .cc-11uv .cc-15ak .cc-acjo {
  display: none !important;
}
