.searchMenu {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100vw;
	height: 70vh;
	background: #ffffff;
	z-index: 11;
	margin: 0 auto;
	padding-top: 150px;
	padding-left: 6vw;
	padding-right: 6vw;
	padding-bottom: 2vw;
}
.popupWrapper {
	margin: 0 auto;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	height: 100vh;
	width: 100vw;

	z-index: 19;
	overflow: hidden;
	animation: darkBg 1s forwards;
	background-color: rgba(0, 0, 0, 0.514); // fix for
}
@keyframes darkBg {
	to {
		background-color: rgba(0, 0, 0, 0.514);
	}
}
.openMenu {
	opacity: 1;
	transition: 0.4s;
	animation: on 0.5s forwards;
	display: flex;
	flex-direction: column;
	z-index: 20;
}
.closeMenu {
	opacity: 0.8;
	transform: translateY(-150%);
	transition: 0.4s;
	animation: off 1s forwards;
}
@keyframes on {
	from {
		opacity: 0;
		transform: translateY(-150%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes off {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-150%);
	}
}
.menuWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 15vw;
	overflow: hidden;
	animation: fade-wrap 1.5s forwards;
}
.menuSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	animation: fade-left 1s forwards;
}
.menuNav {
	color: #191b1d;

	font-size: 1vw;
	font-style: normal;
	font-weight: 600;
	line-height: 16px; /* 66.667% */
	letter-spacing: 1px;
	overflow: hidden;
	padding: 0.2vw;
}
.menuNav div {
	opacity: 0;
	animation: fade-l 1s forwards;
}
.menuLogo {
	width: 15vw;
	padding-bottom: 0.3vw;
	opacity: 0;
	animation: fade-o 2s forwards;
}
.menuList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
}
.menuList:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.menuList:not(:first-child):not(:last-child) {
	padding-top: 1vw;
	padding-bottom: 1vw;
}
.menuList:last-child {
	padding-top: 1vw;
}
.menuList:first-child {
	padding-bottom: 1vw;
}
.menuListWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	opacity: 0;
	animation: fade-right 1s forwards;
}

.menuListName {
	color: #191b1d;

	font-size: 1.5vw;
	font-style: normal;
	font-weight: 500;
	line-height: 5vw; /* 105.263% */
	letter-spacing: -1.9px;
	opacity: 0;
	animation: fade 1s forwards;
}
.menuBtn {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding-top: 5rem;
	padding-bottom: 1rem;
	button {
		width: 6vw;
	}
}
.home {
	cursor: pointer;
}
@keyframes fade {
	0% {
		opacity: 0;
		transform: translateY(500%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fade-l {
	0% {
		opacity: 0;
		transform: translateY(500%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fade-o {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-left {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-right {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@import './menu.adapt.scss';
